.controls {
    display:table;
    list-style:none;
    padding-left:0;
  }
  
.controls > li 
{
    display:table-row;
}

.controls > li > *
{
    display:table-cell;
    padding:5px;
}

.controls label {
    font-weight:bold;
    text-align:right;
}

.controls label:after {
    content: ':';
}